
:root {
    --text-primary: black;
    --box-shadow:  0px 0px 10px rgba(176, 162, 238, 0.5);
   
  }
  [data-theme='dark'] {
    --text-primary: rgb(2, 2, 2);
    --box-shadow: 0px 0px 10px rgba(177, 162, 238, 0.5);
   
  }

.__form {
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    margin-top: 50px;
    padding: 45px;
    box-shadow: var(--box-shadow);
    color: var(--text-primary)
}

