.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 30px 0;
}

div#bottonCart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div#bottonCart .row {
  justify-content: end;
  align-items: center;
}

div#bottonCart .row button {
  margin: 0 5px;
}

div#bottonCart .row button#delete {
  width: 40px;
}

div#bottonCart .row > div {
  display: contents;
}

div#bottonCart:hover {
  background-color: #e7effc;
}

button#buy {
  float: right;
}

nav .container {
  margin: 0 auto;
}
.container-single{
  padding-top:150px;
  background: rgb(198, 238, 235);
  background: linear-gradient(
    90deg,
    rgba(198, 238, 235, 1) 0%,
    rgba(142, 178, 221, 1) 100%,
  )
}

.container-single-product.container {
  display: flex;
  justify-content: center;
  /* background: rgb(198, 238, 235);
  background: linear-gradient(
    90deg,
    rgba(198, 238, 235, 1) 0%,
    rgba(142, 178, 221, 1) 100%
  );*/
  min-height: 86vh; 
}

.lista-carrello {
  padding:20px;
 border:2px black solid;
 display:flex;
flex-direction: column;
}

.dritta{
  
  border-top:1px black solid
}
.lista-carrello > li{
  padding:10px;
  list-style: none;
  display:flex;
  
  
}

.lista-carrello > li:first-child{
  border-top:none
}

.card__container:hover {
 box-shadow: var(--box-shadow)
}

.text__col{
color: var(--text-primary);

}
.thank__thank{
  
  margin-top:100px
}
.cart__cart{
  margin-top:80px;
  color: var(--text-primary);

}

:root {
  --text-primary: black;
  --box-shadow:  0px 0px 10px rgba(176, 162, 238, 0.5);
 
}
[data-theme='dark'] {
  --text-primary: rgb(2, 2, 2);
  --box-shadow: 0px 0px 10px rgba(177, 162, 238, 0.5);
 
}

.card__container {
  color: var(--text-primary);
  
}